section {
    display: inline-block;
    overflow-x: hidden;
}

.content section:nth-child(1) {
    background-color: #F9BE3B;
}

.content section:nth-child(2) {
    background: url("gengar.jpg") no-repeat;
    background-size: cover;
}

/* .content section:nth-child(2) {
    background:url("gengar-mv.jpg") no-repeat;
    background-size: cover;
} */

.content section:nth-child(3) {
    background: url("pikachu-mov.png") no-repeat;
    background-size: cover;
}

h1 {
    right: 20%;
    font-size: 7em;
    position: absolute;
    letter-spacing: 3px;
}

img {

    top: 40%;
    left: 5%;
    position: relative;
    height: 50%;
    width: 100%;

}

.pokedex-btn {
    left: 30%;
    top: 80%;
    width: 40%;
    background: transparent;
    border-radius: 50px;
    font-size: 1em;

}

#Page-two>h1 {
    right: 0%;
    font-size: 7em;
    margin: 1600px 20% 20% 0;
    text-align: center;
    position: absolute;
}

.pokedex-btn2 {
    top: 70%;
    width: 40%;
    left: 20%;
    position: relative;
}

.pokedex-btn3 {
    top: 80%;
    left: 30%;
    position: relative;
    font-size: 1em;
    width: 40%;

}